*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

body 
{
    max-width: 900px;
    margin: auto;

}

header 
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid #1111;
    /* background-color: lightsalmon; */
}

nav 
{
    /* background-color:lightgreen; */
    width: 100%;
}

#nav
{
    display: flex;
    justify-content: flex-end;
}

h1 
{
    text-shadow: 1px 1px 1px #333;
}

#nav li
{
    position: relative;
    margin-left: 1rem;
    padding-bottom: .3rem;
    color: #777;
}

#nav li a
{
    letter-spacing: 1px;
    color: #777;
}

#nav li a:hover
{
    color: #111;
}

.select::before
{
    content: "";
    background-color: #777;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;

}